Repository HackSoc/hacksoc.org, pull requests merged in 2021-11, with the labels that each got.

#185 Add EGM results news article
  templates/content/news/2021-10-29-egm-results.md
Labels: content

#187 Switch to calling pip via python for self upgrade
  .github/workflows/unittest.yaml
Labels: bug, GitHub Actions

#188 Implement RSS/Atom feeds
  hacksoc_org/__init__.py
  hacksoc_org/filters.py
  hacksoc_org/freeze.py
  hacksoc_org/routes.py
  templates/base.html.jinja2
  templates/content/atom.xml.jinja2
  templates/content/rss.xml.jinja2
Labels: enhancement, backend, low priority
